a {
    color: black;
    text-decoration: none;
    padding: 5px;
    border-radius: 0.5rem;
    background-color: #e7e4e4;
}
.allComponents {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}