.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.headerRow {
    background-color: #4CAF50; /* Green */
    color: white;
}

.headerRow th {
    padding: 12px 15px;
    text-align: left;
}

.table td, .table th {
    border: 1px solid #dddddd;
    padding: 8px 15px;
}

.oddRow {
    background-color: #f2f2f2;
}

.evenRow {
    background-color: #ffffff;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination button:disabled {
    background-color: #a5d6a7; /* Lighter green for disabled buttons */
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #45a049; /* Darker green for hover */
}

.pagination .activePage {
    background-color: #45a049; /* Darker green for active page */
}